.landing-page-heading {
  padding: 0 1rem;
  color: var(--color-green);
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;

  em {
    display: block;
    color: white;
    font-style: normal;
  }
}

